<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
			
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>

			<%= f.submit "Create my account", class: "btn btn-primary btn-block" %>

<% end %>

<p class="m-t-10"> Have an Acount? <%= link_to "Log In Now", login_path %> </p>
