<header>
     <ul id="dropdown1" class="dropdown-content">
      <li> <%= link_to 'My Events', events_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    </ul>

     <ul id="dropdown2" class="dropdown-content">
      <li> <%= link_to 'My Events', events_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    </ul>
    
    <nav class=" teal darken-4 z-depth-2">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Private Events</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
           <li> <%= link_to 'Events', events_path %></li>
            <% if !logged_in? %>
              <li><%= link_to 'Sign Up', signup_path %></li>
              <li><%= link_to 'Sign In', login_path %></li>
            <% else %>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
     <ul class="sidenav" id="mobile-demo">
     <li> <%= link_to 'Events', events_path %></li>
     <% if !logged_in? %>
         <li><%= link_to 'Sign Up', signup_path %></li>
         <li><%= link_to 'Sign In', login_path %></li>
      <% else %>
         <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
    <% end %>
    </ul>
  </header>